<div class="text-center">
    <p>
        <a href="https://itemdb.com.br/item/{{item?.slug}}" class="no-link-icon">
            <img src="{{item?.image}}" alt="{{item?.name}}" title="{{item?.name}}" class="item-result-image">
        </a>
        <br>
        <a href="https://itemdb.com.br/item/{{item?.slug}}" class="no-link-icon">{{item?.name}}</a>
        <br>
        <span class="text-small">
            <a href="https://itemdb.com.br/item/{{item?.slug}}" class="price-history-link">{{price}}</a>
        </span>
    </p>
</div>